body{
    background-image: url("woman-97088.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-color: black;
    margin: auto;
}
.logo{
    padding-top: 20px;
    width: 10%;
    border-radius: 50%;
}
.header{
    padding: 0 8%;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-links{
    padding: 28.0px;
}
.nav-links li{
    display: inline-block;
    margin:0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: white;
    padding: 5px 0;
    font-size: 12px;
    position: relative;
    font-family: 'Audiowide', Helvetica, sans-serif;
}
.nav-links li a::after{
    content: '';
    background:indigo;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
.nav-links li a:hover::after{
    width: 100%;
}
.btn{
    background-color: indigo;
    color: gold;
    padding: 10px 10px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 100px;
}
.container{
    padding-left: 10px;
    padding-right: 10px;
}
.container a img{
    width: 33%;
    height: auto; 
    
}
.coin{
    position: relative;
    text-align: center;
    color: white;
}
.bottom{
    position: absolute;
    bottom: 8px;
    right: 16px;
}
.head{
    padding-top: 150px;
    text-align: center;
    color: black;
    font-size: 10px;
    font-family: 'Audiowide', Tahoma, Geneva, Verdana, sans-serif;
    

}
.glow {
    background-color: rgb(112, 105, 66);
    text-align: center;
    font-size: 12px;
    font-weight: 50;
    font-family: 'Audiowide', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px goldenrod, 0 0 40px goldenrod, 0 0 50px goldenrod, 0 0 60px goldenrod, 0 0 70px goldenrod;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px indigo, 0 0 40px indigo, 0 0 50px indigo, 0 0 60px indigo, 0 0 70px indigo, 0 0 80px indigo;
    }
}
.header2{
    color: whitesmoke;
    text-align: center;
    background-color: rgb(112, 105, 66);
    font-family: 'Audiowide', sans-serif;
    font-size: 12px;
}
.footer{
    color: whitesmoke;
    text-align: center;
    background-color:rgb(112, 105, 66);
    font-weight: 50;
    font-family: 'Audiowide', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}
